.card-conteiner {
    background-color: #f9f9f9;
    width: 90%;
    max-width: 100%;    
    border-radius: 10px;
    border: 2px solid black;
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-conteiner:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.text {
    color: black;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.rounded-cropped {
    width: 100%; /* Responsivo: usa 100% da largura disponível do seu elemento pai */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    max-width: 15rem; /* Impede que a largura ultrapasse um limite de 15rem */
    max-height: 15rem; /* Impede que a altura ultrapasse um limite de 15rem */
    border-radius: 50%;
    overflow: hidden; /* Garante que a parte da imagem que ultrapassar o limite da div seja escondida */
    margin: 0 auto;
}

.rounded-cropped img {
    width: 100%; /* A imagem se adapta à largura da div */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove qualquer espaçamento abaixo da imagem */
}

.icon-group {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.2);
}

.about-me-text {
    font-size: 1rem;
    color: #444;
    line-height: 1.8;
    margin-top: 1.5rem;
    text-align: justify;
    padding: 0.5rem;
    border-top: 1px solid #cccccc72;
}

/* Media Queries para telas menores */
@media (max-width: 911px) {
    .card-conteiner {
        width: 90%;
        padding: 0.5rem;
    }

    .rounded-cropped {
        max-width: 12rem; /* Ajusta o tamanho da imagem em telas menores */
        max-height: 12rem;
    }

    .icon {
        width: 35px;
        height: 35px;
    }

    .about-me-text {
        font-size: 0.9rem;
    }
}

