.timeline-card-container {
    background-color: #f9f9f9;
    width: 100%;
    min-width: 100%;
    margin: 0;
    margin-top: 1rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box; /* Adicione esta linha */
    padding: 0.5rem; /* Adicione o padding desejado */
}

.timeline-card-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); 
}

/* Card Titles */
.timeline-card-title {
    color: black;
    font-size: 1.8rem; 
    text-align: center; 
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.timeline-card-position {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin-bottom: 0.5rem;
}

.timeline-card-dates {
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    margin-bottom: 1rem;
}

.timeline-card-description {
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
    margin-bottom: 1rem;
}

/* Skills Section */
.timeline-card-skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.timeline-skill-tag {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 0.9rem;
    cursor: pointer;
}

.timeline-skill-tag:hover {
    transform: translateY(-10px);
}
