/* Timeline Container */
.timeline {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Cada item da timeline */
.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ocupa toda a largura do contêiner */
    position: relative;
    margin-bottom: 0.3rem; /* Espaçamento entre os itens */
}

/* Conector entre os cards */
.timeline-connector {
    width: 4px; /* Conector mais espesso */
    height: 50px; /* Altura entre os itens */
    background-color: #f9f9f9;
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* Card Container */
.timeline-card-container {
    background-color: #f9f9f9;
    width: 100%; /* Largura dos cards */
    min-width: 100%; /* Limita a largura máxima */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center; /* Centraliza o texto dentro do card */
    position: relative; /* Para alinhamento com o conector */
}

.timeline-card-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); 
}

/* Card Titles */
.timeline-card-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.timeline-card-position {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.3rem;
}

.timeline-card-dates {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 1rem;
}

.timeline-card-description {
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
    margin-bottom: 1rem;
}

/* Skills Section */
.timeline-card-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.timeline-skill-tag {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    font-size: 0.9rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.timeline-skill-tag:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
