html, body {
  margin: 0;
  padding: 0;
  height: auto; /* Garante que cubra 100% da altura do viewport */
}

#root {
  height: 100%; /* Faz com que o container React também cubra toda a altura */
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddd5a0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
