.home-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 20px; /* Espaçamento consistente */
}

.vertical-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    gap: 0.5rem;
    margin-top: 1rem;
}

.experience-container-wrapper {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-container {
    width: 95%;
    border-radius: 10px;
    gap: 0.3rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media Queries para telas menores */
@media (max-width: 911px) {
    .home-container {
        flex-direction: column; /* Alinha os elementos verticalmente */
        align-items: center; /* Centraliza os itens no eixo horizontal */
        gap: 15px; /* Reduz o espaçamento para dispositivos menores */
    }

    .vertical-cards {
        max-width: 90%;
    }
    
    .experience-container {
        width: 92%;
    }

    .experience-container-wrapper {
        width: 90%; /* Aumenta o tamanho do wrapper em telas pequenas */
    }
}
